@charset "utf-8";
/* CSS Document */
.center{
margin:auto;
}
/*Menu*/
.header{
	width:1200px;
	height:134px;
}
.infoAcc{
	float:right;
}
.navigation {
background: url(../Image/menu/navigation.png) top left repeat-x;
height: 134px;
overflow: auto;
display: block;
float: left;
width: 100%;
}
.navigation * {
padding:0;
margin:0;
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 13px;
text-transform: uppercase;
}
.navigation ul {
display: block;
float: left;
padding: 10px 0 0 0;
margin: 37px 0 0 20px;
}
.navigation ul.webSiteName{
font-family:"MS Serif", "New York", serif;
font-size:36px;
font-style:italic;
text-shadow:inherit;
color:#F00;

}
.navigation ul li {
list-style: none;
float: left;
margin: 0 0 0 5px;
}

.navigation ul li a {
background: url(../Image/menu/nav_right_IE6.png) top right no-repeat !important;
background: url(../Image/menu/nav_right.png) top right no-repeat;
display: block;
padding: 0 13px 0 0;
color: #578ba0;
text-decoration: none
}
.navigation ul li.selected a,
.navigation ul li.hover a {
background: url(../Image/menu/nav_selected_right.png) top right no-repeat !important;
background: url(../Image/menu/nav_selected_right_IE6.png) top right no-repeat;
color: #578ba0;
}

.navigation ul li a span {
background: url(../Image/menu/nav_left.png) top left no-repeat !important;
background: url(../Image/menu/nav_left_IE6.png) top left no-repeat;
display: block;
padding: 15px 10px 10px 23px;
}
.navigation ul li.selected a span,
.navigation ul li.hover a span {
background: url(../Image/menu/nav_selected_left.png) top left no-repeat !important;
background: url(../Image/menu/nav_selected_left_IE6.png) top left no-repeat;
}
/*End Menu*/
/*Map*/
.map{
width:1196px;
height:300px;
float:left;
background:#9ac5d7;
border-style:solid;
border-width:2px;
border-color:#6CF;	
	}
.listLocation {
	margin-left:5px;
	width:220px;
	height:596px;
	float:left;
	border-style:solid;
	border-width:2px;
	border-color:#6CF;	
	background:#d0e4fe;
	}
.listLocation span, .parameter span{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 18px;
	text-transform: uppercase;
	font-weight:bold;
	text-align:center;
	
	}
.parameter {
	margin-left:5px;
	width:230px;
	height:596px;
	float:left;
	border-style:solid;
	border-width:2px;
	border-color:#6CF;	
}
.parameterInfo {
	margin:auto;
	width:220px;
	height:300px;
	border-style:solid;
	border-width:2px;
	border-color:#FFF;
}
.listDangerArea {
	margin-left:5px;
	width:226px;
	height:596px;
	float:left;
	border-style:solid;
	border-width:2px;
	border-color:#6CF;	
	background:#d0e4fe;
}
.listDangerArea span{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 18px;
	text-transform: uppercase;
	font-weight:bold;
	text-align:center;
	
	}

/*End Map*/
/* SMS and CallLog*/
.historyInfo{
	width:1200px;
	height:270px;
	background:#9ac5d7;
	margin-top:5px;
}
.time{

}
.sms{
	width:596px;
	height:256px;
	float:left;
	border-style:solid;
	border-width:2px;
	border-color:#6CF;	
	background:#9ac5d7;
}
.callLog{
	width:596px;
	height:256px;
	float:left;
	border-style:solid;
	border-width:2px;
	border-color:#6CF;	
	background-color:#9ac5d7;
}
#blanket {
   background-color:#111;
   opacity: 0.65;
   *background:none;
   position:absolute;
   z-index: 9001;
   top:0px;
   left:0px;
   width:100%;
}
#popUpDiv td {
	padding-left:5px;
	padding-right:5px;
}
#popUpDiv {
	position:absolute;
	background:#d0e4fe;
	width:400px;
	height:400px;
	border:5px solid #000;
	z-index: 9002;
}
#popUpDiv span{
	position:relative;
	top:5px;
	left:110px;
}
#popUpDiv a{
	position:relative;
	top:5px;
	left:375px;
	}
#popUpDiv .button {
	position:relative;
	top:10px;
	left:40px;
}
#info{
	position:relative; 
	top:10px; 
	left:20px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 16px;
	}
#info span{
	font-size: 20px;
	margin:auto;
	}
.contactUs {
	margin-left:150px;
	width:500px;
	color:#F36;
	font-size:18px;
}